* {
    box-sizing: border-box;
}

html,
body {
    background-color: #EDF2FE;
    margin: 0;
    padding: 0;
}

.border-16 {
    border-radius: 16px !important;
}

.fs-12 {
    font-size: 12px;
}
.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.font-weight-700 {
    font-weight: 700 !important;
}

.font-weight-500 {
    font-weight: 500 !important;
}

.dark-blue {
    color: #0A2A51;
}

.dark-pink {
    color: #E20054;
}

.gray-700 {
    color: #445A74;
}

.gray-500 {
    color: #647E9A;
}

a {
    text-decoration: none;
}